.CurrentPlayingCon {
    width: 320px;
    height: 655px;
    background-color: #212121;
    border-radius: 8px;
}
.CurrentPlayingSubCon{
    padding: 25px;
}
.CurrentPlayingSubCon p{
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
}
.musicInfo p {
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    margin-top: 20px;
}
#Artist {
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    margin-top: 10px;
}
.sampleImg { 
    width: 272px;
    border-radius: 8px ;
    margin-top: 20px;
}
.lyricsCon {
    width: 252px;
    height: 80px;
    background-color:#b3b3b3;
    border-radius: 8px;
    flex-direction: column;
    margin-top: 20px;
    padding : 10px 10px;
    display: flex;
}
.lyricsCon p{
    text-align: left;
    margin-top: 8px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}
.lyricsCon button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 8px 50px;
    border-radius: 18px;
}
